<header class="app-header">
    <h1>Travel Planner</h1>
    <p>Plane und organisiere deine Reisen.</p>
</header>

<main class="app-content">
    <section class="trip-list container py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            
            <button type="button" class="btn btn-secondary me-2" (click)="goBack()">
                ← Zurück
            </button>

            <h2>Meine Reisen</h2>
            <a routerLink="/home" class="btn btn-outline-primary">
                  Zur Startseite
            </a>
        </div>

        @for (trip of trips; track trip.destination) {
        <article class="trip-card card shadow-sm p-3 mb-3">
            <h3>{{ trip.destination }}</h3>
            <p><strong>Von:</strong> {{ trip.startDate }}</p>
            <p><strong>Bis:</strong> {{ trip.endDate }}</p>
            <p><strong>Status:</strong> {{ trip.status }}</p>
        </article>
        }
    </section>
</main>